---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import ProjectCard from '@/components/ui/cards/ProjectCard.astro';
import { t } from '@/lib/utils';
import CTABanner from '@/components/common/CTABanner.astro';

const projects = await getCollection('projects');
const projectFilter = projects.sort((a, b) => b.data.yearFinished - a.data.yearFinished);

const [featuredProject, ...otherProjects] = projectFilter;
---

<Layout
  title={t('meta.projects.title')}
  description={t('meta.projects.description')}
  keywords={t('meta.projects.keywords')}
>
  <section class="px-4 py-28">
    <div class="mx-auto max-w-7xl">
      <h1 class="font-anton-sc text-accent mb-12 text-5xl md:text-6xl lg:text-7xl">
        {t('projects.title')}
      </h1>

      {
        featuredProject && (
          <div class="mb-8">
            <ProjectCard
              id={featuredProject.id}
              title={featuredProject.data.title}
              category={featuredProject.data.category}
              image={featuredProject.data.image}
              variant="featured"
            />
          </div>
        )
      }

      <div class="grid gap-8 md:grid-cols-2">
        {
          otherProjects.map((project) => (
            <ProjectCard
              id={project.id}
              title={project.data.title}
              category={project.data.category}
              image={project.data.image}
            />
          ))
        }
      </div>
    </div>
  </section>
  <CTABanner />
</Layout>
